.Console {
  tr.DEBUG span.text {
    font-style: italic;
  }
  tr.NOTIFY span.text {
    background-color: #c4e3f3;
  }
  tr.SUCCESS span.text {
    background-color: #dff0d8;
  }
  tr.WARNING span.text {
    background-color: #fcf8e3;
  }
  tr.ERROR span.text {
    background-color: #f2dede;
  }
}
