#root {
  .ant-page-header {
    padding: 8px 12px;
  }
  .ant-page-header-heading {
    justify-content: normal;
  }
  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
  }
  .ant-table-pagination {
    margin: 8px 0;
  }
  .ant-table {
    margin: 8px 0;
    @media screen and (max-width: 600px) {
      td {
        padding: 8px;
      }
    }
  }
  .ant-table.ant-table-bordered {
    th,
    td {
      border: 1px solid rgb(221, 221, 221);
    }
  }
  .ant-space.row-stretch {
    align-items: stretch;
    .ant-card {
      height: 100%;
    }
  }
  .ant-radio-group {
    display: flex;
    flex-wrap: wrap;
  }
}
